.selectWrapper {
    display: flex;
    gap: 20px;
}

.customSelect {
    position: relative;
    width: 120px;
}

.select {
    width: 100%;
    padding: 8px 30px 8px 10px;
    font-size: 16px;
    border: none;
    background: var(--color-grey-97);
    appearance: none; /* Забирає стандартний вигляд */
    cursor: pointer;
}

/* Псевдоелементи для стрілки */
.customSelect::after {
    content: "▼";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    color: var(--color-grey-24);
}

.customSelect.open::after {
    content: "▲"; /* Стрілка вгору */
}